.PasswordValue {
  width: 100%;
  padding: 10px;
  background-color: hsl(var(--clr-darkGrey));
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--fs-1);
}
.copy {
  position: absolute;
  right: 5px;
}
.copy:hover {
  transform: scale(1.1);
}
.copy:active {
  color: hsl(var(--clr-neonBlue));
}
