.PasswordGenerator {
  width: 100%;
  padding: 10px;
  background-color: hsl(var(--clr-darkGrey));
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: var(--fs-2);
}
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 3px 0;
}
.length {
  position: absolute;
  right: 5px;
  color: hsl(var(--clr-neonBlue));
  font-weight: 600;
}
label {
  display: flex;
  align-items: center;
  padding: 5px 0;
  gap: 10px;
}
.btn {
  padding: 3px 0;
  background-color: hsl(var(--clr-neonBlue));
  color: hsl(var(--clr-almostWhite));
}
.btn:disabled {
  opacity: 0.3;
}
